{{ define "main" }}
<section id="hero" class="hero is-primary is-large">
  <div id="particles-js"></div>
  <div class="hero-body main-hero">
    <div class="container has-text-centered">
      <p>Hi, I'm</p>
      <figure class="image is-300x300 is-inline-block">
        <img class="is-rounded" src="./img/ProfilePicture.jpg">
      </figure>
      <h1 class="title">David D Lawson</h1>
      <h2 class="subtitle">Project Manager</h2>
    </div>
  </div>
</section>
<section class="section grey-bg">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-full">
        <div class="card">
          <header class="line-divider">
            <h2 class="card-header-title title is-centered">My current projects</h2>
          </header>
          <div class="card-content">
            <div class="columns">
              <div class="column is-one-quarter has-text-centered">
                <img src="./img/Finalsite.png" alt="Finalsite" class="is-responsive">
              </div>
              <div class="column is-three-quarters">
                <p class="title">Finalsite</p>
                <p class="subtitle">2018-Present</p>
                <p style="margin-top:10px">Finalsite is the global leading provider of web education technology
                  solutions.
                  We work with schools and Higher Ed institutions across the world, providing website services and a
                  best-in-class marketing
                  communications platform.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-full">
        <div class="card">
          <header class="line-divider">
            <h2 class="card-header-title title is-centered">What I've worked on</h2>
          </header>
          <div class="card-content">
            <div class="columns">
              <div class="column is-one-quarter">
                <img src="./img/Nila.jpg" alt="Nila" class="is-responsive">
              </div>
              <div class="column is-three-quarters">
                <p class="subtitle">“If I want to keep my template similar, this is where my previous experiences are
                  going to go.”</p>
                <p style="margin-top:10px">David D Lawson</p>
              </div>
            </div>
            <hr data-content="&amp;" />
            <div class="columns">
              <div class="column is-one-quarter">
                <img src="./img/SDW.jpg" alt="SDW" class="is-responsive">
              </div>
              <div class="column is-three-quarters">
                <p class="subtitle">“If I want to keep my template similar, this is where my previous experiences are
                  going to go.”</p>
                <p style="margin-top:10px">David D Lawson</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="map-section">
  <div class="container">
    <div class="map">
      <img src="./svg/world-map.svg" alt="World Map" class="world-map">
      <div id="pin-1" class="box"><a href="#popup1"><img src="./svg/pin.svg"></a></div>
      <div id="pin-2" class="box"><a href="#popup1"><img src="./svg/pin.svg"></a></div>
      <div id="pin-3" class="box"><a href="#popup1"><img src="./svg/pin.svg"></a></div>
      <div id="popup1" class="overlay">
        <div class="card popup">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <a class="close" href="#map-section">&times;</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a>@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a></p>
            <br>
            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
          </div>
        </div>
      </div>
    </div>
</section>
{{ end }}